
<ul>
<li>Year Made: <%= @movie_result.year %> </li>
<li>Rating: <%= @movie_result.rated %> </li>
<li>Released: <%= @movie_result.released %> </li>
<li>Director: <%= @movie_result.director %> </li>
<li>Actors: <%= @movie_result.actors %> </li>
</ul>

<img src="<%= @movie_image %>" />